@inherits LayoutComponentBase

<HxMessenger Position="ToastContainerPosition.BottomEnd" />

<PageTitle>Wine Application</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <HxDropdownButtonGroup>
                <HxDropdownToggleButton Color="ThemeColor.Secondary"><HxIcon Icon="BootstrapIcon.CloudMoon"/></HxDropdownToggleButton>
                <HxDropdownMenu>
                    <HxDropdownItem><HxIcon Icon="BootstrapIcon.Moon" /> Dark</HxDropdownItem>
                    <HxDropdownItem><HxIcon Icon="BootstrapIcon.Sun" /> Light</HxDropdownItem>
                </HxDropdownMenu>
            </HxDropdownButtonGroup>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
