@inject WineApp.Domain.Maps.IMapsService MapsService

@if (isLoading)
{
    <div class="center-loading">
        <LoadingComponent />
    </div>
}
<div class="spacer"></div>
<div id="myMap"></div>


@code {
    [Parameter]
    public string Region { get; set; } = string.Empty;

    bool isLoading = true;
    protected override async Task OnInitializedAsync()
    {
        var mapDetails = await MapsService.GetRegionInfo(Region).ConfigureAwait(false);
        var coordinates = mapDetails.Data.resourceSets.First().resources.First().point.coordinates;
        var latitude = coordinates[0];
        var longitude = coordinates[1];

        await JS.InvokeVoidAsync($"getMap", latitude, longitude, Region).ConfigureAwait(false);
        isLoading = false;
        await InvokeAsync(StateHasChanged).ConfigureAwait(false);
    }
}
